<div class="breadcrumbs">
      <div class="container">
            <h1 class="pull-left">DMCA</h1>
            <ul class="pull-right breadcrumb">
                <li><a ui-sref="home">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div><!--/container-->
    </div>


<section id="about-content">
    <div class="container content">
      <div class="row margin-bottom-40">
<p>You will find that vidly has a zero-tolerance policy against child pornography. All images, movies and content appearing on this site contain models at least 18 years of age or older. If you find any illegal, unlawful, harassing, harmful, offensive content on our site, report it immediately to: <a href="mailto:abuse@vidly.io">abuse@vidly.io</a>. </p>

<p class="toc_h">DMCA Takedown</p>

	<p>In accordance, vidly complies with the Digital Millennium Copyright Act, (Title 17 U.S.C. §512) and World Intellectual Property Organization (WIPO), in responding with all claims that arise out of intellectual property of infringement and regulated under the WIPO Copyright Treaty (WCT). We will promptly investigate all notices and remove any alleged infringement, taking appropriate legal actions required under such laws.</p>
	<p>You may send us an email at <a href="mailto:abuse@vidly.io">abuse@vidly.io</a> stating the bellow information:</p>
	<ol>
		<li>Your contact information (email, name, and/or address) in order to allow the resolution of the complaint filed;</li>
		<li>The said believed violation of Act No. 618/2003 on Copyright and Rights Related to Copyright, “as amended”; and </li>
		<li>A written and signed statement stating: “It is my legal intentions with an act of good faith, that I belief the following copyrighted material(s) described herein are not authorized by the owner or legally entitled on behalf of the owner to any third party and therefore is not permitted by law to use the copyrighted material(s) and I swear that the following statement is true and accurate and by law have the exclusive right to bring proceedings of infringement.” </li>
	</ol>

	<p>We are not liable for any false claims and you agree that if you have claimed a false claim of copyright infringement with us, that you may be held responsible for all legal actions. Therefore we request that you seek legal advice before reporting any of the following criteria regarding a claim to make sure the copyrighted material is of an infringement.</p>
</div>
    </div>
  </section>
