
 <section id="high-quality-video">
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Step inside the high-quality home for videos</h1>
            <ul>
              <li><a href="javascript:void(0);"><i class="fa fa-check-circle"></i><span>Beautiful HD playback</span></a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-check-circle"></i><span>Powerful privacy settings</span></a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-check-circle"></i><span>No disruptive ads</span></a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-check-circle"></i><span>Amazing supportive community</span></a></li>
            </ul>
          </div>
        </div>
      </div> -->
    </section>

   <section id="user-content" ng-init="currentUser ? userInfo(currentUser.username, currentUser.id,'test',currentUser.is_nsfw) : redditredirect()">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div id="content" class="user-tab">
              <ul id="tabs" class="nav nav-tabs" ng-init="tab = 1">
              
              <li ng-class="{active:tab===1}"><a href ng-click="tab = 1">Video's</a></li>
              
               <li ng-class="{active:tab===3}"><a href ng-click="tab = 3">User Info</a></li>
               
                </ul>
                
                <div id="my-tab-content" class="tab-content">
                  
                  <div class="tab-pane active" id="red" ng-show="tab === 1">

                    <h1>User Video's</h1>
                      <p>Integer ullamcorper viverra nibh ac pulvinar. Phasellus non eros ut ante iaculis fermentum gravida eu nisi. Sed ut posuere lectus. Proin vestibulum sollicitudin erat, at vestibulum metus sagittis et. In venenatis malesuada odio, ut imperdiet ante aliquet eu. In varius molestie erat, sit amet elementum nibh laoreet in. </p>
          <ul class="thumbnails row user-thumbnails" >

          <li data-type="dog" class="col-md-4 paginationclass" ng-repeat="vedio in particluarUserVedio | limitTo:pagination()"> 
         
           <a class="thumbnail" id="dog1" id="job.id" class="view-media" ng-click="openVideo(vedio)">
                    <div class="thumb-img">
                     <img ng-src="{{vedio.thumbnail}}" tooltips tooltip-title="Play" tooltip-side="right">
                      <div class="you-tube-count">
                        <div class="row">
                        <div class="col-md-6"><!-- <div class="time-count">1:45:35</div> --></div>
                        <div class="col-md-6"><div class="tube-count"><i class="fa fa-play" tooltips tooltip-title="Play" tooltip-side="top"></i></div></div>
                      </div>
                      </div>
                    </div>
                  </a> 
                  <div class="checkbox-inline" ng-if="currentUser.id == vedio.userID || matchId == vedio.userID">
                       <div class="checkbox" >
                          <input id="check{{$index}}" type="checkbox" ng-model="vedio.isPrivate" ng-checked="vedio.isPrivate" name="check" ng-change="checkBoxValue(vedio.isPrivate, vedio.id)" ng-true-value=1 ng-false-value=0>
                          <label for="check{{$index}}">Is Private</label>
                       </div>
                      </div>

                    <div class="thumb-content">
                      <div class="row">
                        <div class="col-md-6">
                          <h3>{{vedio.description}}</h3>

                          <div ng-if="vedio.user" ng-click="userInfo(vedio.user,vedio.userID,'asdsasad')"> <p>by {{vedio.user}} </p> </div>
                          <div ng-if="!vedio.user"> <p style="cursor:default;">by Anonymous </p> </div>
                        </div>

                        <div class="col-md-6 views-eye">
                          <h3><strong class="download-icon"><a href="javascript:void(0);"><i class="fa fa-download" tooltips tooltip-title="Download" tooltip-side="top"></i></a></strong><i class="fa fa-eye" tooltips tooltip-title="Views" tooltip-side="top"></i><span>{{vedio.viewcount}}</span></h3> 
                          <div class="like-dislike">

                            <button ng-click="likeClick(vedio.id, $index, 'like')" tooltips tooltip-title="Like" tooltip-side="top"><i class="fa fa-thumbs-up"></i><div id="likeanchor{{$index}}">{{vedio.likcount}}</div></button>
                            <button ng-click="likeClick(vedio.id, $index, 'dislike')" tooltips tooltip-title="Dislike" tooltip-side="top"><i class="fa fa-thumbs-down"></i><div id="dislike{{$index}}">{{vedio.dislikcount}}</div></button>
                           <!-- <p id="msg{{$index}}">{{msg}}</p> -->

                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
          </ul>

          <button class="btn btn-danger reserve-more" ng-show="hasMoreItemsTo()" ng-click="MoreItems()">View More</button>
          </div>
                  
                  
                 <form ng-show="tab === 3">
                      <img src="/modules/core/client/img/user-icon.png" alt="user icon">
                     
                       
                      <div class="checkbox-inline" >
                              <input id="nfwsuser" type="checkbox" ng-checked="is_nsfw_user" name="nfws" ng-click="makeUsernfsw(currentUser.id)">
                              <label for="nfws">NSFW</label>
                            
                     </div>
                            


                      <div class="row">
                        <div class="john-address">
                          <address>
                            <h4>{{usersName}}</h4>
                            <!-- <ul class="list-unstyled who margin-bottom-30">
                                <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                                <li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
                            </ul> -->
                          </address>
                        </div>



                       

                      </div>



                    </form>

                     
            </div>

        </div>
      </div>
    </div>
   </section>