<div class="breadcrumbs">
      <div class="container">
            <h1 class="pull-left">Terms &amp; Privacy</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div><!--/container-->
    </div>


<section id="about-content">
    <div class="container content">
      <div class="row margin-bottom-40">
	<p>Welcome to Vidly! These terms of service (“terms”) cover your use and access to our service and website (“service”, “site” or “website”). By using our service, you're agreeing to be bound by these terms. We reserve the right to modify these terms when necessary.</p>

	<p class="toc_h">Your Content</p>

	<p>In these terms, “your content” means material (videos, photos, text and so on) that you submit to this website. Your content is yours.</p>

	<p>We need your permission to do things like hosting and displaying your content in connection with the site. Our service also provides you with features like photo and video thumbnails, editing and sharing. You give us permission to do those things.</p>

	<p>These terms don't give us any rights to your user content except for the limited rights that enable us to offer the service.</p>

	<p>Upon deletion, your content is completely removed from the site.</p>

	<p>We reserve the right to edit or remove any material submitted to this site that doesn’t comply with the service.</p>



	<p class="toc_h">Electronic Communication</p>

	<p>We are governed by the Act No. 610/2003 on Electronic Communications in all aspects to communications using vidly. You hereby agree and consent to these regulations by receiving electronic communications through vidly. All notices, disclosures and any other forms are subject to the requirements and authorizations to electronic communications outlined in the above “Act of Law”. </p>



	<p class="toc_h">No Warranties</p>

	<p>This website is provided “as is” without any representations or warranties, express or implied. We make no representations or warranties in relation to this website or the information and materials provided on this website.</p>
	<p>Without prejudice to the generality of the foregoing paragraph, vidly does not warrant that:</p>
	<ol >
		<li>This website will be constantly available, or available at all; or</li>
		<li>The information on this website is complete, true, accurate or non-misleading.</li>
	</ol>

	<p>Nothing on this website constitutes, or is meant to constitute, advice of any kind. [If you require advice in relation to any legal or financial matter you should consult an appropriate professional.]</p>



	<p class="toc_h">Limitations of Liability</p>

	<p>We will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
	<ol>
		<li>To the extent that the website is provided free-of-charge, for any direct loss; or</li>
		<li>For any indirect, special or consequential loss; or</li>
		<li>For any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
	</ol>

	<p>These limitations of liability apply even if vidly has been expressly advised of the potential loss.</p>



	<p class="toc_h">Exceptions</p>

	<p>Nothing in this website will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit vidly’s liability in respect of any:</p>
	<ol>
		<li>Death or personal injury caused by negligence; or</li>
		<li>Fraud or fraudulent misrepresentation on your part; or</li>
		<li>The matter which it would be illegal or unlawful for vidly to exclude or limit, or to attempt or purport to exclude or limit its liability.</li>
	</ol>




	<p class="toc_h">Intellectual Property Rights</p>

	<p>All materials and content of vidly are subject by the protection of Act No. 618/2003 on Copyright and Rights Related to Copyright, “as amended” and Act No. 435/2001 Coll. on Patents, Supplementary Protection Certificates and Amendment of Some Acts (The Patent Act), “as amended” for the Enforcement of Intellectual Property Rights. In addition, the Site may contain proprietary trademarks, service marks and logos subject to Act No. 506/2009 Coll. on Trademarks, “as amended” and you are not authorized or granted any license to utilize any such proprietary trademarks, service marks or logos. Any unauthorized use of the Sites content shall therefore be prohibited within the Intellectual Property Codes and the registration and/or entity of vidly for any violation of trade secrets, copyright laws, and trademark laws, the laws of privacy and publicity, and civil and criminal statutes. </p>



	<p class="toc_h">Indemnity</p>

	<p>You agree to indemnify, defend and hold harmless vidly, its business partners, officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including but not limited to reasonable attorneys’ fees) relating to or arising out of your use of or inability to use the Site or services, including but not limited to, any user uploads or downloads made by you, your violation of any (the “T&amp;C”) of this agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. We reserve the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with vidly in asserting any available defenses.</p>



	<p class="toc_h">Unenforceable Provisions</p>

	<p>If any provisions of these terms are found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of these terms.</p>



	<p class="toc_h">International Access of Users</p>

	<p>The services controlled through vidly are administered within our offices and you hereby are under strict regulations of obeying all laws governed at the time of use. If you tend to access any content or services from outside of Austria, you are responsible for complying with all International and jurisdictional laws that may be applicable at the given time of access.</p>




<br/>

	<p>Your privacy is important to us. This privacy statement provides information about our practices regarding personal and non-personal information that we may collect, use, and disclose using vidly. However, it does not govern personal information collected by vidly offline and/or websites having separate privacy policies. Therefore you will find that we have adopted the following provisions to comply with Act No. 428/2002 on Personal Data Protection, “as amended” (the “Act”). Furthermore you will also find that we have established to be compliant with all international regulations that deal with privacy and data protection. Thereby it is your legal obligation to review all aspects to this policy and acknowledge the legal rights of your privacy being protected and the terms and conditions of our Website.</p>


	<p class="toc_h">Information Collected</p>


	<p>You will find that we will collect on standard accounts your email address (optional) and IP-addresses for identification while visiting and using vidly. However, if you signup and pay for our premium services, we will additionally collect the following information that pertains to our payment processing which would be your full name and credit card details. This information is not stored on our servers but submitted to our payment processor. </p>


	<p>Additionally we may automatically collect information which pertains to your computer hardware and software. This information can and may include: IP addresses, browser type, domain names, access times and referring website addresses. This information is used for the operation to maintain the quality of service, and to provide general statistics regarding the use of the Site and in connection with all users that purchase a premium service. Furthermore, please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through the Site or through any other website, that information may be collected by others. WE DO NOT (SELL, RENT OR LEASE) CUSTOMER LISTS TO THIRD PARTIES.</p>


	<p class="toc_h">Collection of Cookies</p>


	<p>We consider the collection, usage and storage of “Cookies” with your absolute consent. You will find that the process and collection of cookies are uniquely assigned to you and can only be read through a web server, which cannot be used to run any programs or deliver any viruses to your computer. We may send one or more cookies to your computer that uniquely identifies your browser session. Therefore each user has the ability to accept or decline cookies when using the Site, but you may not be able to experience all the features of the Site, if you deem to decline the usage of cookies.</p>


	<p class="toc_h">Information Disclosure</p>


	<p>We will without a doubt disclose all personal information if you deliberately upload any illegal material to vidly.io without notice and any other relevant information only if requested to do so by law or in such belief necessary through good faith that such action is to: </p>


	<ol>
		<li>Conform to all edicts of the law and/or to comply with any or all legal processes served on “vidly”; and</li>
		<li>To protect and defend the legal rights or property of “vidly”; and </li>
		<li>Act under all exigent circumstances that govern the personal protection and safety of its users using “vidly”, or the public.</li>
	</ol>

	<p class="toc_h">Security of Information </p>



	<p>We will take all reasonable and technical precautions to prevent the loss, misuse or alteration of your personal and non-personal information. All information is stored on our secure servers with the use of firewalls and maintained by certain measures. Although the transmission of information via the Internet is not completely secure. [Information relating to electronic transactions entered into via vidly will be protected by encryption technology and the use of Comodo SSL certificates.] However, you are responsible for keeping all passwords confidential and out of the reach of others. </p>



	<p class="toc_h">Cross-Border Data Transfers</p>



	<p>Information that we collect may be stored and processed in and transferred between any of the countries in which vidly operates to enable the use of the information in accordance with this privacy policy. [In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.] You agree to such cross-border transfers of personal information. </p>



<p class="toc_h">Entire Agreement</p>

	<p>These terms and conditions constitute the entire agreement between you and vidly in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>



	<p class="toc_h">Law and Jurisdiction</p>

	<p>These terms and conditions will be governed by and construed in accordance with Austria, and any disputes relating to these terms and conditions will be subject to the nonexclusive jurisdiction of the courts of Austria.</p>
	<p>If you have any questions or feel that someone has abused any of these terms, you may contact us by sending an email to: <a href="mailto:abuse@vidly.io">abuse@vidly.io</a>. </p>

</div>
    </div>
  </section>
