<section id="high-quality-video">
    </section>
  <div ng-init="redditUser()"></div>
    <section id="video-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-7"><!--left section start here-->
            <video  width="100%" height="400" ng-src="{{trustSrc(movie.src)}}" controls></video>
            <p>Keywords : {{media.keywords}}</p>
            <div class="embend-code">
             
              <h4><a href="">{{media.description}}</a> </h4>
              <div class="row">
                <div class="col-md-6 share">
                  <p><i class="fa fa-share-alt"></i>Share</p>
                  <div class="social-share">
                    <a href="javascript:void(0);"><img ng-src="modules/core/client/img/facebook.png" alt="facebook"></a>
                    <a href="javascript:void(0);"><img ng-src="modules/core/client/img/twitter.png" alt="twitter"></a>
                    <a href="javascript:void(0);"><img ng-src="modules/core/client/img/reddit.png" alt="reddit"></a>
                    <a href="javascript:void(0);"><img ng-src="modules/core/client/img/linkedin.png" alt="linkedin"></a>
                  </div>
                </div>
               
                <div class="col-md-6 video-liked">
                   <h3><strong class="download-icon"><a href="javascript:void(0);" ng-click="downloadLink(media)"><i class="fa fa-download" tooltips tooltip-title="Download" tooltip-side="top"></i></a></strong><i class="fa fa-eye" tooltips tooltip-title="Views" tooltip-side="top"></i><span>{{media.viewscount}}</span></h3>
                        <div class="like-dislike">
                            <button ng-click="likeClick(media.id, 0, 'like')" tooltips tooltip-title="Like" tooltip-side="top"><i class="fa fa-thumbs-up"></i><div id="likeanchor0">{{media.likecount}}</div></button>
                            <button ng-click="likeClick(media.id, 0, 'dislike')"><i class="fa fa-thumbs-down" tooltips tooltip-title="Dislike" tooltip-side="top"></i><div id="dislike0">{{media.dislikecount}}</div></button>
                          </div>
                </div>
              </div>
            </div>

    <div class="main-commenting-section" ng-controller="CommentsController" ng-init="getComment()">
              <h4>All Comments ({{commentCount}})</h4>
              <div class="main-comment"><a href="#">Here is your first comment..</a></div>

              <form id="first-comment" name="commentForm" ng-submit="addComment(commentForm.$valid)" style="display: none;">
                <div class="form-group">
                  <textarea class="form-control" name="comment" ng-model="userComment.comment" placeholder="Add a comment..." required></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" ng-click="submitted=true" id="pick" class="btn btn-primary">Send</button>
                </div>
              </form>
 
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Top Comments <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Top Comments</a></li>
                  <li><a href="#">Newest First</a></li>
                </ul>
              </div>

              <div class="comment-entry"><!--comment entry start here-->
                <div class="top-entry">
                  
                  <ul id="test"></ul>
                  <!-- <div class="user-desp" ng-repeat="comments in allComments | limitTo:paginationLimit()">
                    <h5>{{comments.username}}<span>2 weeks ago</span></h5>
                    <p>{{comments.comments}}</p>
                    <p class="reply-review">
                      <a href="#" id="inner-review" ng-click="openForm($index, comments)">Reply</a> 11<span>
                      <a href="#"><i class="fa fa-thumbs-up"></i></a>
                      <a href="#"><i class="fa fa-thumbs-down"></i></a></span></p>

                      
                  <form id="reply-comment{{$index}}" style="display:none" name="commentForm" ng-submit="updateParentid(comments, $index)"> 
                        <div class="form-group">
                          <textarea class="form-control" ng-model="replyComment.comment" placeholder="Add a comment..." required></textarea>
                        </div>
                        <div class="form-group">
                          <button type="submit"  id="pick" class="btn btn-primary">Send</button>
                        </div>
                      </form>
                  </div> -->
                </div>
 <div class="comment-scroll">
                
        <!-- <a id="show-more-btn">See More Comments</a> -->
        <button class="btn btn-danger reserve-more" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">See More Comments</button>


              </div><!--comment entry close here-->

            </div>
          </div><!--left section close here-->


        </div>
      </div>
    </section>

<script>
jQuery(document).ready(function () {
    var i = 0;
  
    jQuery('#show-more-btn').on('click', function (event) {
        jQuery('.see-more-content').toggle('show');
    jQuery(".comment-scroll").addClass("scrolling");
        if (i == 0) {
            $(this).text("Hide comments");
            i = 1;
        } else {
            $(this).text("See more Comments");
      jQuery(".comment-scroll").removeClass("scrolling");
            i = 0;
        }
    });
});

</script>

<script>
  $(document).ready(function(){
      $(".main-comment").click(function(){
        $("#first-comment").show();
      });
  });
</script>
