@charset "utf-8";
/* CSS Document */

.nav-list a i{
	color:#ddd;
	font-size:18px;
}
.nav-list li .seprator{
	border-right: 1px solid #eee;
    display: inline-block;
    padding:10px 5px;
	margin-right:20px;
}
.nav-list .grn-link a.nav-cmnt-usr{
	background:#4DB3A4;
	color:#fff;
	padding:3px 10px ;
	border-radius:50%;
	-webkit-border-radius:50%;	
	-ms-border-radius:50%;
	position:relative;
}
.nav-list .grn-link a.nav-cmnt-usr:hover, .nav-list .grn-link a.nav-cmnt-usr:focus{
	background:#4DB3A4;
}
.nav-list .grn-link a.nav-cmnt-usr:before{
	border-color: transparent transparent transparent #4db3a4;
	border-style:solid;
	border-width:8px 0 9px 9px;
    content: "";
    height: 0;
    position: absolute;
    right: -5px;
	top:5px;
    width: 0;
}
.profile-pic img{
	max-width:40px;
	border-radius:50%;
}
.nav-list .profile-pic a{
	width:auto;
	display:inline-block;
	font-size:13px;
	color:#8ea3b6;
	padding:0px 5px;
}
.header .navbar-default{
	margin-bottom:0px;
	
}
.header{
	background:#444D58;
	position:relative;
	z-index:1;
}
.custm-nav-color li{
	padding-top:0px;
}

.custm-nav-color li:hover a{
	color: #f1f1f1;
}
.navbar-default .custm-nav-color > ul > li a:hover  {
	color: #f1f1f1;
}
.custm-nav-color .navbar-nav > li > a{
	color:#bcc2cb;
	font-size: 14px;
    font-weight: normal;
    padding: 16px 18px 15px;
}
.custm-nav-color li.active a{
	color: #f1f1f1;
}
.custm-nav-color li.active{
	background: none repeat scroll 0 0 #4e5966;
    color: #f1f1f1;
}
.custm-nav-color > ul > li:hover{
	background:  #4e5966;
}
.custm-nav-color .dropdown:hover .fa{
	transform:rotate(180deg);
}

.custm-nav-color .dropdown-menu{
	background:#55616F;
	box-shadow:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;

	-webkit-transition: max-height 1s,  border-color 1s ; 
	  -moz-transition: max-height 1s,  border-color; 
	  -ms-transition: max-height 1s,  border-color; 
	  -o-transition: max-height 1s,  border-color; 
	  transition: max-height 1s; 
}
.nav-filter .checkbox input[type="checkbox"]:checked + label{
	text-decoration:inherit;
}
.nav-filter .checkbox label{
	padding:3px 10px;
	padding-left:25px;
}
.nav-filter .checkbox label:before{
	top:5px;
	bottom:auto;
}
.nav-filter .dropdown-menu{
	-webkit-transition: max-height 0.7s,  border-color 1s, box-shadow 1s ; 
	-moz-transition: max-height 0.7s,  border-color  1s, box-shadow 1s; 
	-ms-transition: max-height 0.7s,  border-color 1s, box-shadow 1s; 
	-o-transition: max-height 0.7s,  border-color 1s, box-shadow 1s; 
	transition: max-height 0.7s, border-color 1s, box-shadow 1s; 
	max-height:0px;
	display:block;
	padding:0px 5px;
	min-width:170px;
	overflow:hidden;
	border:1px solid #fff;
	overflow:hidden;
	box-shadow:none;
}
.nav-filter .dropdown:hover .dropdown-menu{
	max-height:500px;
	border:1px solid #eee;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.176);
	-webkit-box-shadow:0 3px 3px rgba(0, 0, 0, 0.176);
	-ms-box-shadow:0 3px 3px rgba(0, 0, 0, 0.176);
	
	
}
.default-header-color{
	background:#fff;
	position:relative;
	z-index:2;
}
.dropdown:hover .dropdown-menu {
   max-height:500px;
}
.custm-nav-color li ul li h4{ 
	color:#ced5de;
	padding:7px 7px 7px 15px;
	color: #ced5de;
    font-size: 15px;
	padding-left:0px;
	margin:0px;
	margin-top:5px;
    font-weight: normal;	
}
.custm-nav-color li ul li a{ 
	color:#ced5de;
	padding:7px 7px 7px 15px;	
}
.custm-nav-color li ul li a i{
	margin-left:0px;
	margin-right:5px;
	color:#6fa7d7;
	margin-top:2px;
}
.custm-nav-color li ul li a:hover{
	background:#5D6B7A;
}
.nav-list{
	float:right;
}
.default-header-color .navbar-header{
	float:left;
}
.nav-list > li {
    float: none;
	width:auto;
	display:inline-block;
	vertical-align:middle;
	padding-top:15px;
}
.custm-nav-color li a i{
	margin-left:5px;
	transition:all 0.2s linear;
}
.srch-box .form-control
{
	background:#38414C;
	border:none;
	padding-right:35px;
	float:right;
	color:#616d7d;
	border-radius:0px;
	transition:all 0.3s linear;
}
.srch-box .form-control:focus{
	box-shadow:none;
	width:300px;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
}

.srch-box{
	position:relative;
	margin-top:8px;
	width:300px;
	margin-right:0px;
	text-align:right;
}
.srch-box .btn{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    display: inline-block;
    padding: 8px 13px !important;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.srch-box .btn i
{
	color:#616d7d;
}
::-webkit-input-placeholder {
   color: #616d7d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #616d7d;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #616d7d;  
}

:-ms-input-placeholder {  
   color: #616d7d;  
}
.block-content{
	padding:25px 20px 20px;
	background:#eff3f8;
}
.graph-header{
	 background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    padding: 12px 8px 10px;
}
.graph-header .navbar-nav > li{
	padding-top:8px;
}
.graph-header .navbar-nav > li a {
	color:#888;
	font-size:13px;
	padding:4px 10px;
	border-radius:25px;
}
.graph-header .navbar-nav > li a:hover{
	background:#8E9BAE;
	color:#fff;
}
.graph-header .navbar-nav > li a:focus{
	background:#8E9BAE;
	outline:none;
	color:#fff;
}
.graph-header h4{
	width:auto;
	color:#44b6ae ;
	font-weight:bold;
	font-size:15px;
	text-transform:uppercase;
	display:inline-block;
}
.graph-header h4 i{
	font-style:normal;
	color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
}
.white-bg{
	background:#fff;
}
.listing-hd li{
	 display: inline;
    float: left;
    width: 25%;
}
.listing-hd li h4{
	font-size:13px;
	color:#9eacb4 ;
}
.listing-hd li p{
	font-size:23px;
	margin-bottom:0px;
}
.listing-hd li p .fa{
	font-size:18px;
	color:#9eacb4;
}
.red p{
	color:#ef4836;
}
.green p{
	color:#44b6ae;
}
.voilet p{
	color:#8e44ad ;
}
.blue p{
	color:#5c9bd1 ;
}
.line-graph{
	width:auto;
	vertical-align:bottom;
	display:inline-block;
}
.line-graph p{
	color:#7d8c9d;
	line-height:20px;
}
.listing-hd li.col-sm-6{
	width:50%;
}
.listing-hd img{
	margin:0px 5px;
}
.listing-hd{
	width:100%;
	display:inline-block;
	margin-bottom:20px;
	text-align: center;
}
.grn-table-ui.table tr td {
    padding: 4px 7px;
}
.grn-table-ui h4{
	color:#44b6ae;
	font-size:13px;
	font-family:open_sanssemibold;
}

.panel-default h2 {
    font-size: 24px;
    margin: 5px 0;
    text-transform: capitalize;
}
.panel-default h2 span {
    background: #cccccc none repeat scroll 0 0;
    float: right;
    opacity: 1;
}
.panel-default h2 span a {
    background: #58b8a9 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 15px;
    padding: 8px 10px;
}

.panel-default{
	  border: medium none !important;
	  box-shadow: 0 0 2px #cccccc;
	  padding: 15px;
          margin-bottom: 8px;
	
}
.panel-default img{width:100%;}

.panel-default img:hover{background:rgba(0,0,0,0.5)}
.graph-header .form-control{
	background:#F1F3F8;
	padding:2px 26px 3px 10px;
	border:1px solid #F1F3F8;
	box-shadow:none;
	font-size:13px;
	width:160px;
	height:32px;
	border-radius:0px;
}
.graph-header .form-control:focus{
	border:1px solid #e3e7f1;
}
.nav-search{
	margin-top:2px;
	float:right;
	position:relative;
}
.nav-search .btn{
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
}
.nav-search .btn .fa{
	color:#ccc;
	font-size:14px;
}
.checkbox label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	color:#838fa1;
	margin-right: 5px;
	font-size: 13px;
}
.checkbox input[type=radio],
.checkbox input[type=checkbox] {
	display: none;
}
.checkbox label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: auto;
	background-color: #fff;
	box-shadow: 0px 0px 0px 1px #ccc inset;
	-webkit-box-shadow: 0px 0px 0px 1px #ccc inset;
	-ms-box-shadow: 0px 0px 0px 1px #ccc inset;
}
.checkbox input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
.checkbox input[type=checkbox]:checked + label:before {
	content: "\2713";
	font-size: 12px;
	color: #555;
	text-align: center;
    line-height: 15px;
	font-weight:bold;
}
.checkbox input[type="checkbox"]:checked + label{
	text-decoration:line-through;
}
.list-badge{
	color:#fff;
	padding:1px 4px;
	font-size:12px;
	background:#45B6AF;
}
.list-group .fa{
	color:#838fa1;
}
.action-list{
	position:absolute;
	top:10px;
	display:none;
	background:#e5e5e5;
	right:10px;
	padding:1px 5px;
}
.list-group-item:hover .action-list{
	display:block;
}
.list-group-item:hover
{
	background:#F4F6F9;
}
.action-list a .fa{
	color:#000;
	font-size:13px;
	margin:0px 2px;
}
.action-list a:focus{
	outline:none;
}
.action-list:hover .dropdown-menu{
	display:block;
	z-index:999;
	margin-top:0px;
}
.action-list .dropdown-menu > li > a{
	padding:3px 10px;
	color:#555;
	font-size:13px;
}
.action-list .dropdown-menu > li > a .fa
{
	color:#888;
}
.red-badge{
	background:#F3565D;
}
.yellow-badge
{
	background:#DFBA49;
}
.blue-badge
{
	background:#89C4F4;
}
.grey-badge
{
	background:#C6C6C6;
}
.task-footer{
	padding:15px 0px;
	text-align:right;
}
.task-footer a{
	color:#5b9bd1;
	font-size:13px;
}
.gray-scroll{
	height:280px;
}
.graph-header .nav-tabs li > a{
	border:none;
	color:#666;
	border-bottom:4px solid #fff;	
}
.graph-header .nav-tabs li.active > a{
	border:none;
	color:#666 !important;
	border-bottom:4px solid #F3565D;	
}
.graph-header .nav-tabs li > a:hover{
	border-bottom:4px solid #FBCDCF;
}
.graph-header .nav-tabs li.active > a:focus, .graph-header .nav-tabs li > a:focus{
	outline:none;
}
.graph-header .nav-tabs li > a:hover{
	background:none;
}
.tab-content
{
	padding-bottom:20px;
}
.tab-content .gray-scroll{
	min-height:310px;
}
.feed-list .list-group-item label{
	font-size:13px;
	color:#838fa1;
	margin-left:35px;
	margin-right:70px;
	font-weight:normal;
}
.feed-list .list-group-item label em{
	color:#fff;
}
.feed-list .list-group-item i{
	position:absolute;
	width:26px;
	height:26px;
	top:0px;
	text-align:center;
	background:#45B6AF;
	color:#fff;
	line-height:26px;
	left:0px;
}
.feed-list .list-group-item
{
	padding:1px 5px;
	margin-bottom:8px;
	border:none;
	background:#FAFAFA;
	
}
.feed-list .list-group-item p{
	position:absolute;
	right:0px;
	top:0px;
	font-size:13px;
	color: #c1cbd0;
    font-style: italic;
    padding: 4px 9px 5px 4px;
}
.nav-filter {
	width:auto;
	float:right;
	padding-left:0px;
	margin-top:6px;
	list-style:none;
}
.nav-filter > li{
	margin-left:5px;
	display:inline-block;
	position:relative;
}
.nav-filter .dropdown-menu{
	left:auto;
	right:0px;
	top:32px;
}
.nav-filter .dropdown-menu{
	padding-left:10px;
}
.nav-filter .dropdown-menu label{
	color:#000;
}
.nav-filter > li > a {
	font-size:13px;
	color:#666;
	padding:3px 9px;
	border:1px solid #ccc;
	border-radius:25px;
}
.nav-filter li a:hover, 
.nav-filter li a:focus, 
.nav-filter li a:active{
	outline:none;
	text-decoration:none;	
}
.task-footer .fa{
	color:#999;
	font-weight:normal;
}
.footer{
	background:#48525E;
	padding-top:20px;
	border-bottom:50px solid #3B434C;	
}
.footer .container
{
	position:relative;
}
.footer h4{
	font-size:15px;
	text-transform:uppercase;
	color:#4db3a4;
	margin-bottom:15px;
	font-weight:700;
}
.footer p 
{
	font-size:13px;
	color:#a2abb7;
	margin-bottom:0px;
}
.social-link{
	padding:0px;
}
.social-link li{
	width:auto;
	display:inline-block;
	margin-right:5px;
}
.social-link li.facebook a{
	background:url(../img/facebook.png) no-repeat left 0px;	
}
.social-link li.twitter a{
	background:url(../img/twitter.png) no-repeat left 0px;	
}
.social-link li.linked a{
	background:url(../img/linkedin.png) no-repeat left 0px;	
}
.social-link li.youtube a{
	background:url(../img/youtube.png) no-repeat left 0px;	
}
.social-link li.vimeo a{
	background:url(../img/vimeo.png) no-repeat left 0px;	
}
.social-link li.rss a{
	background:url(../img/rss.png) no-repeat left 0px;	
}
.social-link li.google a{
	background:url(../img/google.png) no-repeat left 0px;	
}
.social-link li.google a{
	background:url(../img/google.png) no-repeat left 0px;	
}
.social-link li a{
	padding:14px;
	opacity:0.35;
	display:inline-block;
	transition:all 0.3s linear;
}
.social-link li a:hover{
	background-position:0 -38px;
	background-color:#fff;
	opacity:1;
}
.copy-right{
	font-size:12px;
	color:#a2abb7;
	top:18px;
	left:15px;
	position:absolute;
}
.footer-space{
	padding-bottom: 30px;
}
.sub-email .form-control{
	background:#343B44;
	height:34px;
	border-color:#343B44;
	padding-right:120px;
	color:#a2abb7;
	font-family:open sans;
	font-size:12px;
	border-radius:0px;
}
.sub-email .form-control:focus{
	box-shadow:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
}
.sub-email .btn:hover, .sub-email .btn:active,
.sub-email .btn:focus
{
	background:#46A597;
	color:#fff;
	outline:none;
}
.sub-email{
	position:relative;
}
.sub-email .btn{
	position:absolute;
	right:0px;
	top:0px;
}
.btn-submit{
	background:#58b8a9;
	color:#fff;
	text-transform:uppercase;
	font-family:"Open Sans",sans-serif;
	padding:6px 16px;
	border-radius:0px;
	-webkit-border-radius:0px;
	-ms-border-radius:0px;
}
.graph-header h4 em{
	margin-right:5px;
}
.custmr-stts{
	width:auto;
	float:right;
}
.cstmr_sprt_rpt{
	list-style:none;
	padding-left:0px;
}
.custmr-pro img{
	max-width:35px;
	margin-right:10px;
}
.custmr-pro a
{
	font-size:13px;
	color:#65a0d0;
	margin-right:10px;
}
.custmr-pro i
{
	color:#c0c9cc;
	font-size:13px;
	font-style:normal;
}
.cstmr_sprt_rpt li p{
	color:#96a5aa;
	font-size:13px;
	margin-top:5px;
}
.cstmr_sprt_rpt li{
	padding-top:15px;
	border-bottom:1px solid #f1f4f7;
}
.custmr-pro em{
	float:right;
	font-size:13px;
	color:#c0c9cc;
	font-style:normal;
	margin-top:7px;
}
.custmr-pro em .fa
{
	margin-right:5px;
	width:8px;
	height:8px;
	font-size:10px;	
}
.custmr-pro em.stts-open .fa
{	
	color:#45b6af;
}
.custmr-pro em.stts-pndng .fa
{
	color:#dfba49;	
}
.custmr-pro em.stts-closed .fa
{
	color:#428BCA;
}
.custmr-pro em.stts-red .fa
{
	color:#f3565d;
	
}
.full-width img{
	width:100%;
}
.space-bottom{
	margin-bottom:20px;
}
.graph-header #myTab
{
	margin-top:-1px;
}
.scrollToTop{
	position:fixed;
	right:20px;
	bottom:5px;
}
.scrollToTop:focus{
	outline:none;
}
.scrollToTop .fa
{
	color: #657383;
    font-size: 32px;
    opacity: 0.7;
}
.nav-list .dropdown-menu{
	min-width:300px;
	display:block;	
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
}
.nav_pndng_task p{
	color:#a2abb7;
	margin-bottom:0px;
	font-size:13px;	
}
.nav_pndng_task
{
	padding:15px;
	background:#272C33;
}
.nav_pndng_task a{
	float:right;
	font-size:13px;
	color:#5b9bd1;
}
.nav-list .dropdown-list{
	padding-left:0px;
	list-style:none;	
}
.nav-list .dropdown-list li a{
	padding:15px;
	font-size:13px;
	color:#aaafb7;
	display:inline-block;
	width:100%;
	background:#2E343B;
}
.nav-list .dropdown-list li a .time{
	position:absolute;
	top:15px;
	font-size:11px;
	background:#23272d;
	padding:1px 5px;
	right:15px;
}
.nav-list .dropdown-list li a .label{
	margin-right:8px;
	border-radius:0px;
	padding:4px ;
	-webkit-border-radius:0px;
	position:absolute;
	-ms-border-radius:0px;
}
.nav-list .dropdown-list li a .label .fa{
	width:1.25em;
}
.nav-list .dropdown-list li
{
	border-bottom:1px solid #3b434c ;
	display:inline-block;
	width:100%;
	position:relative;
}
.nav-list .dropdown-list li a:hover
{
	background:#373E47;
}
.nav-list .dropdown-list li a i{
	font-size:12px;
}
.nav-list .dropdown-list li .details{
	display:inline-block;
	padding-left:28px;
	padding-right:60px;
}
.nav-list .dropdown-list.scrollable.gray-scroll{
	padding-right:0px;
}
.nav-list .scrollable .scroll-bar.vertical{
	z-index:111;
	background:none;
	opacity:0;
	transition:all 1s linear; 
}
.nav-list .scrollable.gray-scroll .scroll-bar .thumb{
	background-color:#637283;
	box-shadow:none;
}
.nav-list .dropdown-list:hover .scroll-bar.vertical{
	opacity:0.4;
}
.pos-caret{
	border-bottom: 14px solid #272c33;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    right: 10px;
    top: 15px;
}
.nav-list.navbar-nav > li > .dropdown-menu{
	padding-top:22px;
	visibility:hidden;

}
.nav-list li:hover .dropdown-menu{

	visibility:visible;
	
}
.dropdown-list .sr-only
{
	float:right;
	color:#4db3a4;
	position:static;
}
.dropdown-list .progress {
	width:100%;
	margin-top:10px;
	margin-bottom:5px;
	display:inline-block;
}
.prgrs-label{
	width:auto;
	display:inline-block;
	font-size:13px;
	color:#aaafb7;
}
.nav_usr_pic li img{
	position:absolute;
	max-width:35px;
	border-radius:50%;
}
.nav_usr{
	padding-left:42px;
	width:100%;
	display:inline-block;
}
.nav_usr h4{
	font-size: 14px;
	margin:0px;
	color: #5b9bd1;	
}
.nav_usr i
{
	float: right;
    font-size: 12px;
    font-weight: 400;
	color:#aaafb7 !important;
	font-style:normal;
    opacity: 0.5;
}
.nav_usr p
{
	font-size:12px;
	color:#aaafb7;
	margin-top:2px;
	margin-bottom:0px;
}
.nav-list .nav-profile .dropdown-list li a{
	font-size:13px;
	color:#aaafb7;
	padding:8px 14px;
}
.nav-list .nav-profile .dropdown-list li a:hover{
	text-decoration:none;
}
.nav-list .nav-profile .dropdown-list li a .badge{
	position:absolute;
	left:auto;
	right:15px;
	padding:3px 5px;
	height:16px;
	top:12px;
}
.nav-list .nav-profile .dropdown-list li
{
	border:none;
}
.nav-list .nav-profile .dropdown-list li a .fa{
	color:#6fa7d7;
	margin-right:8px;
}
.nav-list.navbar-nav li .dropdown-menu.nav-profile{
	min-width:180px;
	padding-top:12px;
}
.nav-profile .pos-caret
{
	top:5px;
}

.table tr > td a.btn {
    border-radius: 0;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 8px;
}
.nav-filter .filter-icon a{
	height:27px;
	width:27px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	display:inline-block;
	padding:6px;
}
.filter-icon a i
{
	color:#a0a0a0;
}
div.fxed_filter {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    z-index: 111;
	transition:all 0.3s linear;
}
.well{
	background:#fff;
	box-shadow:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
	border:none;
}
.well .table th{
	border-bottom:none;
}
